<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gemma Ernst</title>
    <link <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

    <link rel="stylesheet" href="/css/gridlex.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>

    <!-- BANNER -->
    <section class="banner b4 header flexcenter">
      <div class="">

    <h1> Gemma Ernst </h1>
    <h3> My goal is to make every connection successful… and to help you leave a mark – however big or small your business may be!</h3>


    </div>
    <nav>
      <a href="/">Home</a>
       <span class="dropdown-nav">
        <a href="/#services">Services</a>
        <div class="dropdown-content">
          <ul>
            <li>
              <a href="/social_media">Social Media</a>
            </li><li>
            <a href="/web_dev">Web Development</a>
            </li>
            <li>
              <a href="/content">Content Creation</a>
            </li>

        </div>
      </span>
      <a href="/clients">Clients</a>
    </nav>

  </section>

  {{content}}

<!--FOOTER-->
      <footer>
        <form method="POST"class="b3" action="https://formspree.io/gemmaernst@outlook.com">
          <h3> Let's Chat </h3>
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email address">
            <textarea name="message" placeholder="Share your thoughts!"></textarea>
            <button type="submit">Send away</button>
</form>

<script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>

  </body>
