<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gemma Ernst</title>
    <link rel="stylesheet"
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"> href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>

    <!-- BANNER -->
    <section class="banner">
      <div class="">

    <h1> Gemma Ernst </h1>


    </div>
  </section>

  {{content}}

<!--FOOTER-->
      <footer>
          <form method="POST" action="https://formspree.io/gemmaernst@outlook.com">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email address">
            <textarea name="message" placeholder="Share your thoughts!"></textarea>
            <button type="submit">Send away</button>
        </form>


  </body>
