---
layout: default
---

<section>
  <div class="col-5 b1 gridflipper">
    <div class="center">

    <h2> What I Can Offer for {{page.title}}</h2>
    <p></p>
  </div>

    {% for item in page.services %}
      <div class="grid-middle-center">
        <div class="col-6_md-6 padding-grid">
          <h3 class="center">{{item.name}}</h3>
          <p>{{item.description}}
    </p>
        </div>
        <div class="col-6 image champion-bg" style="background-image:url('{{item.image}}')"></div>
      </div>
          {% endfor %}
</div>
  </section>


</html>
